body {
    background-color: rgba(82, 80, 209, 0.705);
}
h1{ 
    background-color:black;
    color: white;
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
}
p{
    color: green;
    margin-left: 90;
    background-color: white;
    padding: 20px 20px 20px 20px;
}